/* layout */
html{	
	height: 100%;
	box-sizing: border-box;
}

body {
	background-image: url(../images/background_2_moreSpecks.jpg);
	height: 100%;
	margin: 0px;
	font-family: 'Raleway';
}

#wrapper {
	width: 100%;
	min-height: 100%;
	display: table;
}

#headerContainer, #mainContainer{
	display: table-row;
}

/* link highlighting */
.menu a, #footerContact a, #contactPage a, #aboutEmail a{
	text-decoration: none;
	color: black;
}
.menu a:hover, #footerContact a:hover, #contactPage a:hover, #aboutEmail a:hover{
	color: red;
}

/* main */
#mainContainer {
	background-image: linear-gradient(to bottom right,rgba(0,0,0,0),rgba(0,0,0,0.1));
	height: 100%;
}

.page {
	display: table;

}
.page h1 {
	display: table-row;
	color: red;
	font-weight: normal;
}

.pageContent {
	display: table-row;
	width: 100%;
}



/* pages */
#aboutContact {
	text-align: center;
}

#aboutEmail, #aboutPhone {
	font-family: 'Open Sans';
	font-size: 1.25em;
	padding: 0.5em;
}

/* work */


#workPage .mainList>li{
	padding: 1em 0em 1em 0em;
}
#workPage .subList>li {
	list-style: none;
	color: #444444;
}

#workPage .subList>li.programTitle{
	font-size: 140%;
	color: black;
}

#downloadCV {
	text-align: center;
}

#downloadCV button {
	font-size: 1em;
}

/* Contact */

#contactDetails{
	font-family: 'Open Sans';
	list-style: none;
	text-align: center;
}

/* mobile specific */
/* header */


/* main */
 .page{
	padding: 2% 4%;
	width: 92%;
 }
 
 /* footer */
#footer {
	width: 90%;
	padding: 5% 5%;
}
#footerContact ul{
	padding-left: 0px;
}
#footer #footerContact ul li{
	padding: 0px 15px 0px 15px;
	float: none;
}

#copyright{
	position: relative;
}

/* pages */

/* about */

/* contact */
#contactDetails div{
	font-size: 6vw;
	padding: 4vw;
}

#contactProfile .imageContainer{
	text-align: center;
}
#contactProfile img{
	width: 80%;
	max-width: 270px;
}












