/* layout */

/* header */
#header{
	width: 960px;
	margin: auto;
	padding: 3px 0px 8px 0px;
	position: relative;
}

#name {
	width: initial;
	white-space: nowrap;
}

#header #row2{
	position: absolute;
	top: 0;
	left: 12.5em;
}

#header #row2 #row2Cell {
	display: table-cell;
	height: 67px;
	vertical-align: middle;
	text-align: left;
}

#editor, #baftaWinning{
	font-size: 1.3rem;
}

#headerImgBack{
	height: 250px;
	width: 100%;
}

/* main */

#main{
	width: 960px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin: auto;
	display: block;
 }
 
 .page{
	padding: 2% 4%;
	width: 92%;
 }
  
/* footer */
#footer {
	width: 960px;
	padding: 15px 0px;
}

#footerContact ul li{
	padding: 0px 15px;
	display: inline-block;
}
#footerContact ul{
	padding-left: 15px;
	float: left;
}
#copyright {
	padding: 0px 30px;
}

 /* pages */
 
 .column{
	display: table-cell;
	vertical-align: top;
	width: 50%;
	padding: 0;
}
 /* About */

.imageContainer{
}

.slide .text {
	font-size: 1.15em;
}

.showTitle {
	/*font-size: 0.7em;*/
}

/* Contact */
#contactPage #email{
	font-size: 2rem;
}

#contactPage #phone{
	font-size: 2rem;
}

#contactProfile img{
	width: 70%;
}

/* work */
#workPage .mainList {
	columns: 1;
}



