$xxs: 368px;
$md: 701px;
$lg: 1024px;

@mixin breakpoint($width){
	@media(min-width: $width){
		@content;
	}
}

@import 'common';
@import 'header';
@import 'channel-grid';
@import 'slideshow';
@import 'page';
@import 'footer';



 

